<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>About Us</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="{% static 'users\css/style1.css' %}">
</head>	
<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<h3>Varcons Technologies Private Limited</h3>
					<p>Varcons Technologies Private Limited is an Not available for efiling company established on 
						11 Jul 2022 with its office registered at 8/9, 5Th Main, 3Rd Cross Road, Beside Sachidananada Nagar, 
						R R Nagar Bangalore Bangalore Ka 560098 In and has been running since 2 months 15 days with a paid up 
						capital of 0.10 lakh. According to MCA records, 2 Directors are linked to this company as of 12 Jul 2022</p>
					<div class="button">
						<a href="https://www.varconstech.com/">Read More</a>
					</div>
				</div>
				<div class="social">
					<a href=""><i class="fab fa-facebook-f"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
				</div>
			</div>
			<div class="image-section">
				<img src="{% static 'img/imgtwo.jpg' %}">
			</div>
		</div>
	</div>

	
</body>
</html>